<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Equipo</title>
</head>
<body>
    <h1>Crear Equipo</h1>
    <form action="/equipos" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label for="dinero">Dinero:</label>
        <input type="number" id="dinero" name="dinero">
        <br>
        <button type="submit">Crear Equipo</button>
    </form>
</body>
</html>
