<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Equipos</title>
</head>
<body>
    <h1>Lista de Equipos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dinero</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="equipo : ${equipos}">
                <td th:text="${equipo.id}"></td>
                <td th:text="${equipo.nombre}"></td>
                <td th:text="${equipo.dinero}"></td>
                <td>
                    <a th:href="@{/equipos/{id}(id=${equipo.id})}">Ver Detalles</a>
                    <a th:href="@{/equipos/{id}/editar(id=${equipo.id})}">Editar</a>
                    <a th:href="@{/equipos/{id}/eliminar(id=${equipo.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/equipos/nuevo">Agregar Nuevo Equipo</a>
</body>
</html>
