<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Estrella</title>
</head>
<body>
    <h1>Detalle de Estrella</h1>
    <p>Nombre: <span th:text="${estrella.nombre}"></span></p>
    <p>Habitada: <span th:text="${estrella.habitada}"></span></p>
    <p>Coordenada X: <span th:text="${estrella.coordenadaX}"></span></p>
    <p>Coordenada Y: <span th:text="${estrella.coordenadaY}"></span></p>
    <p>Coordenada Z: <span th:text="${estrella.coordenadaZ}"></span></p>
    <h2>Listado de Planetas</h2>
    <ul>
        <li th:each="planeta : ${planetas}">
            <span th:text="${planeta.nombre}"></span>
        </li>
    </ul>    <!-- Agrega aquí más detalles de la estrella si es necesario -->
    <a href="/estrellas">Volver a la Lista de Estrellas</a>
</body>
</html>
