<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Edición de Producto</title>
</head>
<body>
    <h1>Formulario de Edición de Producto</h1>
    <form th:action="@{/productos/{id}/editar(id=${producto.id})}" method="post">
        <input type="hidden" th:name="_method" value="put">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${producto.nombre}" required><br>
        <label for="factorDemanda">Factor de Demanda:</label>
        <input type="number" id="factorDemanda" name="factorDemanda" th:value="${producto.factorDemanda}" required><br>
        <label for="factorOferta">Factor de Oferta:</label>
        <input type="number" id="factorOferta" name="factorOferta" th:value="${producto.factorOferta}" required><br>
        <label for="volumenUnidad">Volumen por Unidad:</label>
        <input type="number" id="volumenUnidad" name="volumenUnidad" th:value="${producto.volumenUnidad}" required><br>
        <label for="factorOferta">Precio de Compra:</label>
        <input type="number" id="PrecioCompra" name="PrecioCompra" th:value="${producto.PrecioCompra}" required><br>
        <label for="volumenUnidad">Precio de Venta:</label>
        <input type="number" id="PrecioVenta" name="PrecioVenta" th:value="${producto.PrecioVenta}" required><br>
        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="/productos/{id}">Cancelar</a>
</body>
</html>
