<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Equipo</title>
</head>
<body>
    <h1>Editar Equipo</h1>
    <form action="/equipos/{id}/actualizar" method="post" th:action="@{'/equipos/' + ${equipo.id} + '/actualizar'}" th:object="${equipo}">
        <input type="hidden" th:field="*{id}">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required><br>
        <label>Dinero</label>
        <input type="text" th:field="*{dinero}" required><br>
        <!-- Agrega aquí más campos para otras propiedades de la estrella si es necesario -->
        <input type="submit" value="Actualizar">
    </form>
    <a href="/equipos">Cancelar</a>
</body>
</html>
