<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Jugador</title>
</head>
<body>
    <h1>Formulario de Jugador</h1>
    <form action="/jugadores/guardar" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="nombre">Contraseña:</label>
        <input type="text" id="contraseña" name="contraseña" required>
        <label for="nombre">Rol:</label>
        <input type="text" id="rol" name="rol" required>
        <button type="submit">Guardar Jugador</button>
    </form>
</body>
</html>
