<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Edición de Tipo de Nave</title>
</head>
<body>
    <h1>Formulario de Edición de Tipo de Nave</h1>
    <form th:action="@{/tiposnave/{id}/editar(id=${tiponave.id})}" method="post">
        <input type="hidden" th:name="_method" value="put">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${tiponave.nombre}" required><br>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" th:value="${tiponave.descripcion}" required><br>
        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="/tiposnave/{id}">Cancelar</a>
</body>
</html>
