<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav>
        <ul class="menu">
            <li><a th:href="@{/estrellas}">Estrellas</a></li>
            <li><a th:href="@{/equipos}">Equipos</a></li>
            <li><a th:href="@{/estrellas}">Estrellas</a></li>
            <li><a th:href="@{/planetas}">Planetas</a></li>
            <li><a th:href="@{/productos}">Productos</a></li>
            <li><a th:href="@{/tiponave}">TipoNave</a></li>
        </ul>
    </nav>

</body>

</html>